{% extends 'base.html' %}
{% block content %}
    <div class="mt-2">
        <h1 class="d-inline">오늘의 할 일 목록</h1>

        {# 할일 생성 #}
        <button class="btn btn-sm btn-primary float-end" onclick="location.href='{% url 'todo:create' %}'">생성하기</button>
        {# 할일 생성_end #}
    </div>

    <hr>

    {# 할일 목록 #}
    {% for todo_list in object_list %}  {# cbv listview 사용 시 변수명 꼭 확인! 'object_list' #}
        <div class="my-1">
            <a href="{% url 'todo:info' todo_list.pk %}"
               class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                {{ todo_list.title }}
                {% if todo_list.comment_count >= 1 %}
                    ({{ todo_list.comment_count }})
                {% endif %}
            </a>
        </div>
    {% endfor %}
    {# 할일 목록_end #}

    {# 블로그 글 검색 #}
    <form method="get" class="my-3 d-flex justify-content-center">
        <input class="form-control-sm" name="q" type="text" placeholder="검색어를 입력하세요."
               value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button class="btn btn-sm btn-info ms-2">검색</button>
    </form>
    {# 블로그 글 검색_end #}

    {# 페이지네이션 #}
    {% include 'pagination.html' %}
    {# 페이지네이션 코드_end #}
{% endblock %}

