{% load static %} {# from ~ import ~ 와 유사 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<nav class="d-flex justify-content-between py-2 px-4 bg-black text-white">
    <div>
        <a class="text-decoration-none text-white" href={% url 'todo:list' %}>Home</a>
    </div>

    <div style="text-align: right; font-size: 20px; display: flex; justify-content: space-between; background-color: green; color: white;">
        {% if request.user.is_authenticated %}
            {{ request.user.username }}
            <form action="{% url 'logout' %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm">로그아웃</button>
        {% else %}
            <a class="btn btn-warning btn-sm" href="{% url 'signup' %}" style="margin-right: 10px">회원가입</a>
            <a class="btn btn-info btn-sm" href="{% url 'login' %}">로그인</a>
        {% endif %}
        </form>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>

</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>